<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <title>FracTastic</title>
</head>

<body>
    <div class="sidenav">
        <div class="title">
            FracTastic
        </div>
        <a name="tree" class="active" onclick="changeActive(this); return false;" href="">
            Tree
        </a>
        <a name="line" class="" onclick="changeActive(this); return false;" href="" >
            line
        </a>
    </div>
          
    <div class="rules">
        <span class="title">
            Rules:
        </span> 
        
        <button onclick="draw()">Generate</button>
    </div>

    <canvas class="content" id="myCanvas">
        Your browser does not support the HTML5 canvas tag.
    </canvas>
</body>
</html>

<script>
    function changeActive(elmnt){
        document.getElementsByClassName('active')[0].classList.remove('active');
        elmnt.classList.add('active');

        switch(elmnt.name) {
            case 'tree':
                draw();
                return false;
            case 'line':
                // code block
                break;
            default:
                console.log('err');
        }

        return false;
    }

    function draw(){
        var c = document.getElementById("myCanvas");
        var ctx = c.getContext("2d");

        drawTree(ctx, 200, 600, 60, -Math.PI / 2, 8, 15);
    }

    function drawTree(ctx, startX, startY, length, angle, depth, branchWidth) {
        var rand = Math.random;
        var newLength, newAngle, newDepth, maxBranch = 3,
        endX, endY, maxAngle = 2 * Math.PI / 6, subBranches;

        ctx.beginPath();
        ctx.moveTo(startX, startY);
        endX = startX + length * Math.cos(angle);
        endY = startY + length * Math.sin(angle);
        ctx.lineCap = 'round';
        ctx.lineWidth = branchWidth;
        ctx.lineTo(endX, endY);

        if (depth <= 2) {
            ctx.strokeStyle = 'rgb(0,' + (((rand() * 64) + 128) >> 0) + ',0)';
        }
        else {
            ctx.strokeStyle = 'rgb(0,' + (((rand() * 64) + 64) >> 0) + ',20)';
        }
        ctx.stroke();
        newDepth = depth - 1;

        if(!newDepth) {
            return;
        }
        subBranches = (rand() * (maxBranch - 1)) + 1;
        branchWidth *= 0.7;

        for (var i = 0; i < subBranches; i++) {
            newAngle = angle + rand() * maxAngle - maxAngle * 0.5;
            newLength = length * (0.7 + rand() * 0.3);
            drawTree(ctx, endX, endY, newLength, newAngle, newDepth, branchWidth);
        }

    }

</script>
